<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/800px-Apple_logo_black.svg.png"-->
    <link rel="icon" href="/static/image/favicon.ico">
    <link rel="shortcut icon" href="/static/image/favicon.ico">
    <title>Pluto</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="import" href="index.html"> -->

    <!-- 부트스트랩 : 이거 내려받은 파일로 사용하려면 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script type="text/javascript"> 
      // var url = '{{url}}';
      // function signup() {
      //   al$('#signup_id')
      //   const obj = {
      //     id:123,
      //     product: {
      //       id: "test@1.com",
      //       pw: "1234",
      //       tickers:["MO", "GOOGL"]
      //     }
      //   };
      //   let obj_date = JSON.stringify(obj);
      //   alert(obj_date);
      // }
      function POST() {
        const id = document.getElementById("signup_id").value;
        const pw = document.getElementById("signup_pw").value;
        alert(id);
        //보낼 데이터를 Json문자열로 변환
        data = JSON.stringify({
            id: id,
            pw: pw
        });

        var xhr = new XMLHttpRequest(); // XMLHttpRequest 객체 생성

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log("연결 성공");
                } else {
                    console.log("연결 실패");
                }
            }
        }
        //요청을 보낼 방식, 주소, 비동기 여부 설정
        xhr.open("POST", "http://192.168.55.154:5000/signup", true);
        //요청 해더에 컨텐츠 타입 Json으로 사전 정의
        xhr.setRequestHeader('Content-Type', 'application/json');
        //Json형식의 data를 포함하여 요청 전송
        xhr.send(data);
      }

      $(document).ready(function() {
      $("#signupForm").submit(function(e) {
        e.preventDefault();
      
        var email    = $("#floatingInput").val();
        var password = $("#floatingPassword").val();
      
        $.ajax({
          method: "POST",
          url: "http://192.168.55.154:5000/signup",
          data: JSON.stringify({
            "email":email,
            "password":password
          }),
          contentType: 'application/json'
        })
        .done(function(msg) {
           console.log(msg)
           if (msg.email === email) {
             window.location.href = 'index.html';
           }
        });
      });
    });
    </script>
    
</head>

<body class="bg-white">
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="/static/image/logo2.png" alt="This is Pluto"><br> &nbsp;
        <a class="navbar-brand" href="/"> Pluto </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graph">Chart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/mypage" aria-disabled="true">My Page</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/signout" aria-disabled="true">Sign out</a>
                    </div>
                </li>
                
                <!--li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li-->
            </ul>
    
            <form class="form-inline my-2 my-lg-0">
                <!--input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button--> 
                <script>
                    
                </script>
                
                <button class="btn btn-success my-2 my-sm-0" type="button" onClick="location.href='signin.html'"> Sign in </button> &nbsp;
                <button class="btn btn-success my-2 my-sm-0" type="button" onClick="location.href='signup.html'"> Sign up </button>
            </form>
    
        </div>
    </nav>

    <!-- signup -->
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h2 class="fw-bold mb-0">Sign up for Pluto</h2>
          </div>

          <div class="modal-body p-5 pt-0">
            <form id="signupForm">
              <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com" name="signup_id">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" name="signup_pw">
                <label for="floatingPassword">Password</label>
              </div>
              
              <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
            </form>
            
              <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
              <hr class="my-4">
              <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
              <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                    <use xlink:href="#twitter"></use>
                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                  </svg>
                 Sign up with Twitter
              </button>
              <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                    <use xlink:href="#Google"></use>
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                </svg>
                 Sign up with Google
              </button>
              <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <use xlink:href="https://www.google.com"></use>
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
                 Sign up with GitHub
              </button>
          </div>
        </div>
    </div>

    
    <!-- footer -->
    <footer class="footer mt-auto py-3 bg-dark navbar-dark">
        <div class="align-items-center">
          <span class="text-muted">Pluto - footer content</span>
        </div>
      </footer>
</body>
</html>